p {
	font-family: 'Comfortaa', cursive;
	display: flex;
	justify-content: center;
	padding-right: 50px;
	padding-left: 50px;
}

h1 {
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
	display: flex;
	justify-content: center;
	font-weight: bold;
}

h2 {
	font-family: 'Comfortaa', cursive;
	display: flex;
	justify-content: center;
}

h5 {
	display: flex;
	justify-content: center;
	font-family: 'Comfortaa', cursive;
}

.card {
	display: flex;
	display: inline-block;
	justify-content: center;
	lg-width: 100px;
	md-width; 200px;
	sm-width: 300px;
	margin-left: 50px;
	margin-top: 50px;
}
