p {
	font-family: 'Comfortaa', cursive;
	display: flex;
	justify-content: center;
	padding-right: 50px;
	padding-left: 50px;
}

h1 {
	text-transform: uppercase;
	font-family: 'Comfortaa', cursive;
	display: flex;
	justify-content: center;
	font-weight: bold;
}

h2 {
	font-family: 'Comfortaa', cursive;
	display: flex;
	justify-content: center;
}

h5 {
	display: flex;
	justify-content: center;
	font-family: 'Comfortaa', cursive;
}

.card {
	width: 35%;
	height: 40%;
	margin-left: 50px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	display: inline-block;
}
